{% extends 'base.html' %}

{% block title %}Clientes{% endblock %}

{% block main %}
    <div class="row">
        <div class="col"></div>

        <div class="col-6">
            <h3>Lista de Clientes</h3>
            <ul class="list-group">
                {% for pessoa in pessoas %}
                    <li class="list-group-item">
                        <a href="{% url 'pessoa_update' pessoa.id %}">
                            {{ pessoa.nome_completo|title }}
                        </a>
                        <a class="trash-item" href="{% url 'pessoa_delete' pessoa.id %}">
                            <i class="fas fa-trash"></i>
                        </a>
                    </li>
                {% empty %}
                    <li class="list-group-item">A lista está vazia</li>
                {% endfor %}
            </ul>
            <br>
            <a class="btn btn-primary" href="{% url 'pessoa_new' %}">Adicionar</a>
        </div>

        <div class="col">
            <p>
                {{ request.session.message }}
                <a href="{% url 'logout' %}">
                    <span class="badge badge-dark">Sair</span>
                </a>
            </p>
        </div>
    </div>

    {% if pessoas|length > 100 %}
        <p>Parabéns, você tem mais de 100 clientes!</p>
    {% endif %}
{% endblock %}

{% block footer %}
    {% include 'footer.html' %}
{% endblock %}