{% extends 'base.html' %}
{% load filters %}
{% load tags %}

{% block title %}Clientes{% endblock %}

{% block main %}
    <div class="row">
        <div class="col"></div>

        <div class="col-6">
            <h3>Lista de Clientes</h3>
            <ul class="list-group">
                {% for pessoa in pessoas %}
                    <li class="list-group-item">
                        <a href="{% url 'pessoa_update' pessoa.id %}">
                            {{ pessoa.first_name }}
                        </a>
                        <a class="trash-item" href="{% url 'pessoa_delete' pessoa.id %}">
                            <i class="fas fa-trash"></i>
                        </a>
                    </li>
                {% empty %}
                    <li class="list-group-item">A lista está vazia</li>
                {% endfor %}
            </ul>
            <br>
            <a class="btn btn-primary" href="{% url 'pessoa_new' %}">Adicionar</a>
        </div>

        {% if pessoas|length > 2 %}
            <p>Você tem bastante Clientes</p>
        {% endif %}

        <div class="col">
            <p>
                Olá, {{ user.username }}
                <a href="{% url 'logout' %}">
                    <span class="badge badge-dark">Sair</span>
                </a>
            </p>
        </div>
    </div>

    <p>{% now 'd H' %}</p>
    <p>{{ footer_message|concatena }}</p>
    <p>{{ 123.4566|arredonda:4 }}</p>

    <p>Hora do servidor:</p>
    {% data_atual as hora %}
    {{ hora }}

{% endblock %}

{% block footer %}
    {% include 'footer.html' with minha_var='Testo de teste' %}
{% endblock %}